@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --main-color: #a71d31; 
    --secondary-color : #fff;
    --letter-color: #B0B0B0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

#logo{
    width: 160px;
    margin: 15px 0px 0px 20px;
    cursor: pointer;
    transition: all 0.2s;
    color: var(--main-color);
}

#logo:hover{
    transform: scale(1.06);
}

.content-data{
    display: flex;
    align-items: center;
    margin: 15px 30px;
    color: var(--secondary-color);
}

#cover{
    width: 560px;
    margin: 10px 20px 0px 70px;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 120px;
}

a{
    text-decoration: none;
}

h2, a{
    color: var(--main-color);
    font-weight: 700;
}

h2{
    font-size: 25px;
    margin-bottom: 30px;
}

a:hover{
    text-decoration: underline;
}

input{
    border: none;
    border-bottom: 1px solid var(--letter-color);
    padding: 5px 0px 5px 45px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-size: 17px;
}

.icons{
    position: absolute;
    font-size: 25px;
    color: var(--letter-color);
}

.password{
    top: 70px;
    left: 5px;
}

.cpassword {
    top: 135px;
    left: 5px;
}

.startSession {
    background: var(--main-color);
    text-decoration: none;
    width: 150px;
    font-size: 16px;
    height: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    color: var(--secondary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 15px 20px 0px 0px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.startSession:hover {
    transform: scale(1.04);
}