@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --main-color: #a71d31;
  --secondary-color: #fff;
  --third-color: #B0B0B0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.side-panel {
  width: 19%;
  background: var(--main-color);
  height: 100vh;
}

.decoration-line {
  width: auto;
  height: 3px;
  background: var(--secondary-color);
  margin: 20px 10px;
}

#logo {
  width: 160px;
  margin: 15px 0px 0px 20px;
  cursor: pointer;
  transition: all 0.2s;
}

i {
  font-size: 25px;
  margin: 5px;
  color: var(--secondary-color);
  padding: 5px 8px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 16px;
}

li {
  list-style: none;
  margin: 3px 5px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.dashboard-elements {
  display: flex;
  flex-direction: column;
  justify-items: center;
  cursor: pointer;
}

.active, li:hover {
  background: rgb(193, 39, 61);
  border-radius: 15px;
}

.logout{
    margin-top: 245px;
}

.searchButton, h3{
    color: var(--third-color);
    cursor: pointer;
}

h3{
    font-size: 16px;
}

strong{
    color: var(--main-color);
}

#search{
    border-radius: 50px;
    width: 350px;
    height: 35px;
    border: solid 2px var(--third-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}

.content-data{
    width: 81%;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-content{
    display: flex;
    height: 8%;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}

.data{
    display: flex;
    height: 92%;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--third-color);
}