@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --main-color: #a71d31; 
    --secondary-color : #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color);
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

#logo{
    width: 55px;
    margin: 15px 0px 0px 20px;
    cursor: pointer;
    transition: all 0.2s;
}

#logo:hover, .startButton:hover{
    transform: scale(1.06);
}

.startButton{
    background: var(--secondary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 40px;
    color: var(--main-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 15px 20px 0px 0px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.content-data{
    display: flex;
    align-items: center;
    margin: 10px 30px;
    color: var(--secondary-color);
    padding: 0px 100px;
}

#cover{
    width: 580px;
    margin: 10px 20px 0px 20px;
}

h1{
    font-size: 60px;
    font-weight: 700;
}

p{
    font-size: 18px;
}